.hero-section
    display: flex
    flex-direction: row
    width: 100%

    .container
        width: 50%
        margin-top: 10px

    .subtitle
        font-size: 40px
        font-weight: 700

    .subtitle2
        font-size: 30px
        font-weight: 700

    // left sections
    .left-container
        border-right: 1px solid #ddd
        padding-top: 40px

    .inner-container
        padding: 20px 80px

    .title
        color: #000
        border: 1px solid #ddd
        padding: 12px 22px
        border-radius: 100px
        width: fit-content
        margin-bottom: 16px

    .hero-banner
        width: 100%
        object-fit: cover

    .card
        margin: 40px 0
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
        border-radius: 16px
        padding: 20px

    .inner-card
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    .info
        display: flex
        flex-direction: row
        align-items: center
        gap: 8px
        font-size: 30px
        font-weight: 700
        font-family: 'Inter'
        color: #336913

        span
            font-size: 16px

    .slider
        width: 100%
        height: 16px
        background-color: #EFF7EF
        border-radius: 20px
        margin-top: 16px

        .progress
            width: 40%
            height: 100%
            background-color: #336913
            border-radius: 20px

    // right sections
    .right-container
        position: relative
        overflow: hidden
        padding: 40px
        padding-bottom: 0

    .bg-image
        position: absolute
        object-fit: cover
        width: 100%
        height: 100%
        z-index: -1
        padding-left: 100px

    .buttons
        margin-top: 20px
        display: flex
        flex-direction: row
        gap: 10px

    .leaderboard
        margin-top: 30px
