.sponsorships-section
    background-color: #FFFFFF

    .sponsorships-title
        font-size: 40px
        font-weight: 700
        padding-top: 40px
        text-align: center
        color: #112D63
        margin: 0 auto
        width: 600px

    .sponsorships-description
        font-size: 18px
        font-weight: 300
        padding: 20px 0px
        text-align: center
        width: 700px
        margin: 0 auto
